$serif: 'Coustard', serif

body
  background: pink
  h1, h2, h3, h4, h5
    font-family: $serif
    font-weight: 900
  p
    font-family: $serif
  h2
    border-top: 4px solid black

  nav.main-menu
    position: fixed
    background: white
    color: black
    padding: 25px
    height: 100%
    width: 300px
    text-align: center
    .image-container img.profile-pic
      border: 5px solid white
      border-radius: 50%
      max-width: 200px
      box-shadow: 1px 1px 5px rgba(1,1,1,.4)
      margin-bottom: 25px
    .chapter-list-container
      max-width: 200px
      margin: 0 auto
      text-align: left
      .chapter-list-title
        text-transform: uppercase
        letter-spacing: 2px
      ol.chapter-list

        a
          font-family: $serif
          font-weight: bold
          color: black
          display: block
          text-decoration: underline

  .social-links-container
    position: absolute
    bottom: 0
    left: 0
    padding: 5px
    .social-link
      color: rgba(1, 1, 1, .2)
      padding: 5px
      display: inline-block
      &:hover
        text-decoration: none
  section
    margin: 50px auto
  .mini-profile
    text-align: center