$serif: 'Coustard', serif

body
  background: pink
  h1, h2, h3, h4, h5
    font-family: $serif
    font-weight: 900
  p
    font-family: $serif
  h2
    border-top: 4px solid black

  nav.main-menu
    position: fixed
    background: white
    color: black
    padding: 25px
    height: 100%
    width: 300px
    text-align: center
    .image-container img.profile-pic
      border: 5px solid white
      border-radius: 50%
      max-width: 200px
      box-shadow: 1px 1px 5px rgba(1,1,1,.4)
      margin-bottom: 25px
    .chapter-list-container
      max-width: 200px
      margin: 0 auto
      text-align: left
      .chapter-list-title
        text-transform: uppercase
        letter-spacing: 2px
      ol.chapter-list

        a
          font-family: $serif
          font-weight: bold
          color: black
          display: block
          text-decoration: underline

  .book
    padding-left: 300px 
    width: 100% 
    height: 100%
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    .chapter
      height: 500px 
      width: 600px
      margin: 0 auto
      position: relative
      .leaf
        transform-style: preserve-3d
        z-index: -10
        min-width: 600px
        position: absolute
        height: 100%
        transition: transform 1s
        &.flipped
          transform: rotateY(180deg)
      .page
        display: block
        position: absolute
        min-height: 500px
        min-width: 300px 
        max-height: 500px
        max-width: 300px 
        height: 500px
        width: 300px 
        overflow: hidden
        padding: 25px
        background: white
        border-radius: 10px
        border: 1px solid rgba(1,1,1,.3)
        right: 0
        backface-visibility: hidden
        &.recto
          border-bottom-left-radius: 0px
          border-top-left-radius: 0px
          border-left: 0px
          background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(255, 255, 255, 1) 2%,rgba(255, 255, 255, 1) 100%)
        &.verso
          transform: rotateY(180deg)
          border-bottom-right-radius: 0px
          border-top-right-radius: 0px
          border-right: 0px
          background: linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(255, 255, 255, 1) 2%,rgba(255, 255, 255, 1) 100%)
        .page-header
          font-size: .5em
          color: rgba(1,1,1,.4)
          border-bottom: 1px solid rgba(1,1,1,.4)
          text-align: right
          margin-bottom: 25px
          padding-bottom: 5px
          .chapter-name
            float: left
          .page-number
            float:right

        .chapter-header
          text-align: center
          border-bottom: 1px solid black
          padding: 25px
          margin-bottom: 25px
          .chapter-number
            text-transform: uppercase
            letter-spacing: 2px
          .chapter-name
            font-family: $serif
            font-size: 2em
            display: inline-block

        &.active
          color: black
          border-color: black
          filter: blur(0px)
      // end page

  .social-links-container
    position: absolute
    bottom: 0
    left: 0
    padding: 5px
    .social-link
      color: rgba(1, 1, 1, .2)
      padding: 5px
      display: inline-block
      &:hover
        text-decoration: none
  section
    margin: 50px auto
  .mini-profile
    text-align: center