body {
  background: pink; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: "Coustard", serif;
    font-weight: 900; }
  body p {
    font-family: "Coustard", serif; }
  body h2 {
    border-top: 4px solid black; }
  body nav.main-menu {
    position: fixed;
    background: white;
    color: black;
    padding: 25px;
    height: 100%;
    width: 300px;
    text-align: center; }
    body nav.main-menu .image-container img.profile-pic {
      border: 5px solid white;
      border-radius: 50%;
      max-width: 200px;
      box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.4);
      margin-bottom: 25px; }
    body nav.main-menu .chapter-list-container {
      max-width: 200px;
      margin: 0 auto;
      text-align: left; }
      body nav.main-menu .chapter-list-container .chapter-list-title {
        text-transform: uppercase;
        letter-spacing: 2px; }
      body nav.main-menu .chapter-list-container ol.chapter-list a {
        font-family: "Coustard", serif;
        font-weight: bold;
        color: black;
        display: block;
        text-decoration: underline; }
  body .book {
    padding-left: 300px;
    width: 100%;
    height: 100%;
    position: absolute; }
    body .book .chapter {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      height: 500px;
      width: 100%;
      height: 100%;
      align-items: center;
      position: relative; }
      body .book .chapter .page {
        color: rgba(1, 1, 1, 0.3);
        min-height: 500px;
        min-width: 300px;
        max-height: 500px;
        max-width: 300px;
        height: 500px;
        width: 300px;
        overflow: hidden;
        padding: 25px;
        background: white;
        border-radius: 10px;
        margin-right: 50px;
        box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
        filter: blur(3px); }
        body .book .chapter .page .page-header {
          font-size: 0.5em;
          color: rgba(1, 1, 1, 0.4);
          border-bottom: 1px solid rgba(1, 1, 1, 0.4);
          text-align: right;
          margin-bottom: 25px;
          padding-bottom: 5px; }
          body .book .chapter .page .page-header .chapter-name {
            float: left; }
        body .book .chapter .page .chapter-header {
          text-align: center;
          border-bottom: 1px solid black;
          padding: 25px;
          margin-bottom: 25px; }
          body .book .chapter .page .chapter-header .chapter-number {
            text-transform: uppercase;
            letter-spacing: 2px; }
          body .book .chapter .page .chapter-header .chapter-name {
            font-family: "Coustard", serif;
            font-size: 2em;
            display: inline-block; }
        body .book .chapter .page.active {
          color: black;
          border-color: black;
          filter: blur(0px); }
      body .book .chapter .page-counter {
        position: fixed;
        top: 0;
        right: 5%;
        padding: 10px;
        color: rgba(1, 1, 1, 0.3); }
  body .social-links-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px; }
    body .social-links-container .social-link {
      color: rgba(1, 1, 1, 0.2);
      padding: 5px;
      display: inline-block; }
      body .social-links-container .social-link:hover {
        text-decoration: none; }
  body section {
    margin: 50px auto; }
  body .mini-profile {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
